<div class="d-flex">
  <div class="header-btn-lg pe-0">
    <div class="widget-content p-0">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="btn-group" ngbDropdown placement="bottom-right">
            <button class="border-0 btn-transition btn btn-outline-danger" (click)="Logout()">
              <fa-icon [icon]="faPowerOff"></fa-icon>
            </button>
            <div ngbDropdownMenu>
              <button class="dropdown-item">Menus</button>
              <button class="dropdown-item">Settings</button>
              <h6 class="dropdown-header">Header</h6>
              <button class="dropdown-item">Actions</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item">Dividers</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

